/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(61, 192, 148);
  --ifm-color-primary-dark: #305a48;
  --ifm-color-primary-darker: #2d5544;
  --ifm-color-primary-darkest: #254638;
  --ifm-color-primary-light: #3a6e58;
  --ifm-color-primary-lighter: #3d735c;
  --ifm-color-primary-lightest: #458268;
  --brand-primary: rgb(61, 192, 148);
  --brand-secondary: rgb(233, 224, 255);
  --brand-tertiary: rgb(240, 242, 245);
  --brand-text: rgb(55, 52, 69);
  --brand-background: rgb(240, 242, 245);
  --theme-background: rgba(255,255,255);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3cc094;
  --ifm-color-primary-dark: #3bbc91;
  --ifm-color-primary-darker: #39b68d;
  --ifm-color-primary-darkest: #37b188;
  --ifm-color-primary-light: #4ec89f;
  --ifm-color-primary-lighter: #57cba4;
  --ifm-color-primary-lightest: #74d4b4;
  --ifm-background-color: #363344;
  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-background-color: #373445;
  --brand-primary: rgb(61, 192, 148);
  --brand-secondary: rgb(55, 52, 69);
  --brand-tertiary: rgb(240, 242, 245);
  --brand-text: rgb(240, 242, 245);
  --brand-background: #23212b;
  --theme-background: #363344;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
